*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

.app{
    width: 100vw;
    height: 100vh;
    header{
        height:7% ;
    }
    main{
        height:93% ;
    }
}

a{
    text-decoration: none;
    color: unset;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
}

