.trellu-workspace{
    padding-inline: 5px;
    width: 100%;
    height: 100%;
    background-color: $color3;
    .title{
        font-size: 2rem;
        font-weight: bold;
        height: 10%;
        color: $color4;
    }

}
