.group-preview{
    background-color: $color9;
    width: 33.333%;
    height: 100%;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 5px;
    .group-header{
        box-shadow: 0px 0px 3px 0px;
        border-radius: 5px;
        input{
            border: none;
            background-color: transparent;
            font-size: 1rem;
            font-style: italic;
            font-weight: bold;
        }
    }
    .group-footer{
        width: 100%;
        box-shadow: 0px 0px 3px 0px;
        border-radius: 5px;
        .add{
            
            width: 80%;

          .add-btn{
            font-size: 1rem;
              width: 10%;
          }

          .add-input{
              width: 90%;
          }

        }

        .av{
            width: 20%;
            .audio{
                width: 50%;
            }
            .video{
                width: 50%;
            }
        }
        
    }
}