.group-list{
    width: 100%;
    .add-group{
        border: 1px black solid;
        width: 25%;
        font-size: 500%;
        .cmp{
            width: 100%;
            input{
                width: 70%;
            }
            button{
                display: flex;
                justify-content: center;
                align-content: center;
                width: 15%;
            }
        }
    }
}